<?xml version="1.0"?>
<!--
/**
 * Copyright (c) 2024 Attila Sagi
 * @license http://www.opensource.org/licenses/mit-license.html  MIT License
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Space\SalesCountdown\Api\Data\ConfigInterface"
                type="Space\SalesCountdown\Model\Config" />
    <preference for="Space\SalesCountdown\Api\Data\RuleInterface"
                type="Space\SalesCountdown\Model\Rule" />
    <preference for="Space\SalesCountdown\Api\RuleRepositoryInterface"
                type="Space\SalesCountdown\Model\RuleRepository" />
    <preference for="Space\SalesCountdown\Api\Data\SalesCountdownInterface"
                type="Space\SalesCountdown\Model\SalesCountdown" />
    <preference for="Space\SalesCountdown\Api\CalculateCountdownInterface"
                type="Space\SalesCountdown\Model\Service\CalculateCountdown" />

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="sales_countdown_rule_listing_data_source"
                      xsi:type="string">Space\SalesCountdown\Model\ResourceModel\Rule\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Space\SalesCountdown\Model\ResourceModel\Rule\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">sales_countdown_rule</argument>
            <argument name="eventPrefix" xsi:type="string">sales_countdown_rule_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">countdown_rule_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Space\SalesCountdown\Model\ResourceModel\Rule</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Model\Entity\RepositoryFactory">
        <arguments>
            <argument name="entities" xsi:type="array">
                <item name="Space\SalesCountdown\Api\Data\RuleInterface" xsi:type="string">
                    Space\SalesCountdown\Api\RuleRepositoryInterface
                </item>
            </argument>
        </arguments>
    </type>
</config>
